
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Your CSS styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C2F2F; /* Example color */
  color: #DAA520;
  padding: 10px 20px;
}

.logo {
  border-radius: 50%; /* Make the div rounded */
  overflow: hidden; /* This ensures that the image does not overflow the rounded div */
}

.logo img {
  width: 100%; /* Ensure the image fills the div */
  height: auto; /* Maintain aspect ratio */
}


.navbar a {
  color: #DAA520;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  font-family: 'Lobster', cursive; /* Add this line */
}
/* App.css */
/* Styles specific to the navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #3C2F2F;
  color: #DAA520;
  
}



.navbar-links {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  margin-left: 80%;
  

}

.logo {
  background-image: url('../public/logo.png');
  height: 50px; /* Adjust as needed */
  width: 50px; /* Adjust as needed */
  background-size: cover; /* Or 'contain' based on your requirement */
  background-position: center;
  border-radius: 40%; /* This will make the div rounded */
}

.navbar a:hover {
  color: #C08081; /* Highlight color on hover */
}

.background-container {
  background-image: url('/public/movie.WEBP'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.content-container {
  position: absolute; /* Absolute position within background-container */
  top: 50%; /* Adjust as needed, 50% will place it in the middle */
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
  width: 80%; /* Adjust width as needed */
}

.search-container {
  background-color: #3C2F2F; /* Your desired background color */
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add more styles as needed */
  width: 60%;
}



  .search-container h1 {
    font-family: 'Lobster', cursive; /* Add this line */
    color: #DAA520;
    font-size: 50px;
    text-shadow: 0 0 5px #DAA520;
  }
  

.search-container input[type="text"] {
  width: 300px; /* Adjust as needed */
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #36454F;
}

.search-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #C08081;
  color: white;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #5aa;
}


