* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.background-container {
  background-image: url('/public/cinema.jpg'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.content-container {
  /* Add styles if needed, e.g., for padding or to position content */
}

.search-container {
  background-color: #f2f2f2; /* Your desired background color */
  border-radius: 15px; /* Adjust for rounded corners */
  padding: 20px; /* Space inside the container */
  text-align: center; /* Center the content */
  width: 40%; /* Adjust the width as needed */
  margin: 50px auto; /* Center the container and add top margin */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.search-container h1 {
  color: crimson;
  font-size: 50px;
  text-shadow: 0 0 10px #DC143C, /* Crimson glow */
               0 0 20px #DC143C, /* More blur for a larger glow */
               0 0 30px #DC143C; /* Even more blur for an even larger glow */
}

.search-container input[type="text"] {
  width: 300px; /* Adjust as needed */
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.search-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #6bf;
  color: white;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #5aa;
}

/* Remove any unused styles related to .App-logo, .App-header, etc., if they are not used */

